In [1]:
import networkx as nx
import pandas as pd
import numpy as np
import geopandas as gpd
from operator import itemgetter
import matplotlib.pyplot as plt
%pylab inline
import itertools
import os
import csv
import shapely

Populating the interactive namespace from numpy and matplotlib

In [2]:
two_nodes = pd.read_csv('London_synergy_50.csv', index_col = 0)

In [3]:
two_nodes.head(20)

,station,delay,station_0,station_1,delay_0,delay_1,sum,synergy,percent(%)
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0,785572.0,386054.0,1171626.0,1517146.0,129.490640
1,"Canary Wharf_0,Mile End_0",2262734.0,Canary Wharf_0,Mile End_0,623534.0,386054.0,1009588.0,1253146.0,124.124494
2,"South Kensington_0,Notting Hill Gate_0",1835935.0,South Kensington_0,Notting Hill Gate_0,405044.0,395414.0,800458.0,1035477.0,129.360566
3,"West Ham_0,Mile End_0",1682607.0,West Ham_0,Mile End_0,598877.0,386054.0,984931.0,697676.0,70.835013
4,"Baker Street_0,Notting Hill Gate_0",2012482.0,Baker Street_0,Notting Hill Gate_0,1059683.0,395414.0,1455097.0,557385.0,38.305694
5,"London Bridge_0,West Ham_0",1896222.0,London Bridge_0,West Ham_0,785572.0,598877.0,1384449.0,511773.0,36.965825
6,"Earl's Court_0,Notting Hill Gate_0",1613057.0,Earl's Court_0,Notting Hill Gate_0,751711.0,395414.0,1147125.0,465932.0,40.617370
7,"Hammersmith (Dist&Picc Line)_0,Notting Hill Ga...",1260758.0,Hammersmith (Dist&Picc Line)_0,Notting Hill Gate_0,423275.0,395414.0,818689.0,442069.0,53.997183
8,"Acton Town_0,Notting Hill Gate_0",1108185.0,Acton Town_0,Notting Hill Gate_0,436856.0,395414.0,832270.0,275915.0,33.152102
9,"Bank_0,Holborn_0",1085676.0,Bank_0,Holborn_0,437083.0,378007.0,815090.0,270586.0,33.197070
10,"Earl's Court_0,Acton Town_0",1421440.0,Earl's Court_0,Acton Town_0,751711.0,436856.0,1188567.0,232873.0,19.592753
11,"London Bridge_0,Liverpool Street_0",1672135.0,London Bridge_0,Liverpool Street_0,785572.0,718097.0,1503669.0,168466.0,11.203663
12,"King's Cross St.Pancras_0,Bank_0",2148828.0,King's Cross St.Pancras_0,Bank_0,1560166.0,437083.0,1997249.0,151579.0,7.589389
13,"Stockwell_0,Victoria_0",1961078.0,Stockwell_0,Victoria_0,1135985.0,698474.0,1834459.0,126619.0,6.902253
14,"Green Park_0,South Kensington_0",1007031.0,Green Park_0,South Kensington_0,476175.0,405044.0,881219.0,125812.0,14.277041
15,"Liverpool Street_0,Canary Wharf_0",1465070.0,Liverpool Street_0,Canary Wharf_0,718097.0,623534.0,1341631.0,123439.0,9.200667
16,"South Kensington_0,Bond Street_0",914757.0,South Kensington_0,Bond Street_0,405044.0,403892.0,808936.0,105821.0,13.081505
17,"Victoria_0,Waterloo_0",1378649.0,Victoria_0,Waterloo_0,698474.0,585551.0,1284025.0,94624.0,7.369327
18,"Canary Wharf_0,West Ham_0",1315307.0,Canary Wharf_0,West Ham_0,623534.0,598877.0,1222411.0,92896.0,7.599408
19,"Waterloo_0,Bank_0",1113180.0,Waterloo_0,Bank_0,585551.0,437083.0,1022634.0,90546.0,8.854194

In [4]:
df_diff = pd.read_csv('remove_two_nodes_duration_top50.csv.gz',compression='gzip', index_col = 0)

In [5]:
df_diff = df_diff.fillna(100)

In [6]:
df_diff_0 = df_diff.copy()

In [7]:
df_diff_0.head()

,to_master_id,from_master_id,"King's Cross St.Pancras_0,Euston_0","King's Cross St.Pancras_0,Stockwell_0","King's Cross St.Pancras_0,Baker Street_0","King's Cross St.Pancras_0,Finsbury Park_0","King's Cross St.Pancras_0,Camden Town_0","King's Cross St.Pancras_0,Stratford_0","King's Cross St.Pancras_0,London Bridge_0","King's Cross St.Pancras_0,Leyton_0",...,"Harrow-on-the-Hill_0,Tooting Broadway_0","Harrow-on-the-Hill_0,Wood Green_0","Harrow-on-the-Hill_0,Hampstead_0","Harrow-on-the-Hill_0,Highgate_0","Tooting Broadway_0,Wood Green_0","Tooting Broadway_0,Hampstead_0","Tooting Broadway_0,Highgate_0","Wood Green_0,Hampstead_0","Wood Green_0,Highgate_0","Hampstead_0,Highgate_0"
1,Acton Town_0,Aldgate East_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acton Town_0,Aldgate_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Acton Town_0,Alperton_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Acton Town_0,Amersham_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,100.0,100.0,100.0,100.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Acton Town_0,Angel_0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
num = df_diff_0._get_numeric_data()
num[num == 100] = 0

In [9]:
df_diff_0.head()

,to_master_id,from_master_id,"King's Cross St.Pancras_0,Euston_0","King's Cross St.Pancras_0,Stockwell_0","King's Cross St.Pancras_0,Baker Street_0","King's Cross St.Pancras_0,Finsbury Park_0","King's Cross St.Pancras_0,Camden Town_0","King's Cross St.Pancras_0,Stratford_0","King's Cross St.Pancras_0,London Bridge_0","King's Cross St.Pancras_0,Leyton_0",...,"Harrow-on-the-Hill_0,Tooting Broadway_0","Harrow-on-the-Hill_0,Wood Green_0","Harrow-on-the-Hill_0,Hampstead_0","Harrow-on-the-Hill_0,Highgate_0","Tooting Broadway_0,Wood Green_0","Tooting Broadway_0,Hampstead_0","Tooting Broadway_0,Highgate_0","Wood Green_0,Hampstead_0","Wood Green_0,Highgate_0","Hampstead_0,Highgate_0"
1,Acton Town_0,Aldgate East_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Acton Town_0,Aldgate_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,Acton Town_0,Alperton_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Acton Town_0,Amersham_0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,Acton Town_0,Angel_0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
df_diff_0.loc[:,"King's Cross St.Pancras_0,Euston_0":'Hampstead_0,Highgate_0'] = df_diff_0.loc[:,"King's Cross St.Pancras_0,Euston_0":'Hampstead_0,Highgate_0'].clip(upper=1)

In [11]:
delay = {}
for pair in df_diff_0.columns[2:]:
    delay[pair]= sum(np.array(df_diff_0.loc[:,pair]) * 1)

In [12]:
delay_A_B = pd.DataFrame(sorted(delay.items(), key=lambda x: x[1],reverse=True),columns=['station','delay_A_or_B'])

In [13]:
delay_A_B.head()

                                         station  delay_A_or_B
0              Baker Street_0,South Kensington_0       34278.0
1              Baker Street_0,Liverpool Street_0       33150.0
2                      Baker Street_0,Mile End_0       32312.0
3                 Baker Street_0,Oxford Circus_0       31842.0
4  Baker Street_0,Hammersmith (Dist&Picc Line)_0       31788.0

In [14]:
duration = pd.read_csv('remove_one_node_duration.csv.gz',compression='gzip', index_col=0)

In [15]:
### if none, means not reachable for 1 hour
duration = duration.fillna(100)

In [16]:
num2 = duration._get_numeric_data()
num2[num2 == 100] = 0

In [17]:
duration.loc[:,'Charing Cross_0':'Chigwell_0'] = duration.loc[:,'Charing Cross_0':'Chigwell_0'].clip(upper=1)

In [18]:
duration_0 = duration.copy()

In [19]:
duration_0.columns[2:]

Index([u'Charing Cross_0', u'Moor Park_0', u'Sudbury Town_0',
       u'Rayners Lane_0', u'Bank_0', u'Vauxhall_0', u'West Acton_0',
       u'Southwark_0', u'Aldgate_0', u'West Harrow_0',
       ...
       u'Upton Park_0', u'Whitechapel_0', u'West Kensington_0', u'Archway_0',
       u'Kennington_0', u'Wimbledon Park_0', u'Canons Park_0', u'Euston_0',
       u'Gants Hill_0', u'Chigwell_0'],
      dtype='object', length=270)

In [20]:
delay = {}
for station in duration_0.columns[2:]:
    delay[station]= sum(np.array(duration.loc[:,station]) * 1)

In [21]:
delay_A = pd.DataFrame(sorted(delay.items(), key=lambda x: x[1],reverse=True),
                     columns=['station','delay_original'])

In [22]:
delay_A.head()

              station  delay_original
0      Baker Street_0         22484.0
1       Bond Street_0         14564.0
2  Liverpool Street_0         14510.0
3        Green Park_0         14162.0
4     Finchley Road_0         14002.0

In [23]:
delay_A_B['station_A'] = map(lambda x:x.split(',')[0], delay_A_B['station'])
delay_A_B['station_B'] = map(lambda x:x.split(',')[1], delay_A_B['station'])

In [24]:
delay_A_B = delay_A_B.merge(delay_A.rename(columns={'station':'station_A',
                         'delay_original':'delay_A'}), on = 'station_A')

In [25]:
delay_A_B = delay_A_B.merge(delay_A.rename(columns={'station':'station_B',
                         'delay_original':'delay_B'}), on = 'station_B')

In [26]:
delay_A_B['delay_A_and_B'] = delay_A_B['delay_A'] + delay_A_B['delay_B'] - delay_A_B['delay_A_or_B']

In [27]:
delay_A_B.head()

,station,delay_A_or_B,station_A,station_B,delay_A,delay_B,delay_A_and_B
0,"Baker Street_0,South Kensington_0",34278.0,Baker Street_0,South Kensington_0,22484.0,12720.0,926.0
1,"Liverpool Street_0,South Kensington_0",25308.0,Liverpool Street_0,South Kensington_0,14510.0,12720.0,1922.0
2,"Green Park_0,South Kensington_0",20554.0,Green Park_0,South Kensington_0,14162.0,12720.0,6328.0
3,"Finchley Road_0,South Kensington_0",25698.0,Finchley Road_0,South Kensington_0,14002.0,12720.0,1024.0
4,"Hammersmith (Dist&Picc Line)_0,South Kensington_0",14768.0,Hammersmith (Dist&Picc Line)_0,South Kensington_0,9866.0,12720.0,7818.0

In [28]:
delay_A_B.to_csv('London_delay.csv')