In [1]:
import pandas as pd

In [2]:
two_nodes =pd.read_csv('delay_two_nodes_removal.csv',index_col=0)

In [3]:
two_nodes.head()

                                    station      delay
0                London Bridge_0,Mile End_0  2688772.0
1     King's Cross St.Pancras_0,Stockwell_0  2632144.0
2  King's Cross St.Pancras_0,Baker Street_0  2617976.0
3        King's Cross St.Pancras_0,Euston_0  2544789.0
4     King's Cross St.Pancras_0,Stratford_0  2501601.0

In [4]:
two_nodes['station_0'] = map(lambda x:x.split(',')[0],two_nodes['station'])

In [5]:
two_nodes['station_1'] = map(lambda x:x.split(',')[1],two_nodes['station'])

In [6]:
two_nodes.head()

,station,delay,station_0,station_1
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0
1,"King's Cross St.Pancras_0,Stockwell_0",2632144.0,King's Cross St.Pancras_0,Stockwell_0
2,"King's Cross St.Pancras_0,Baker Street_0",2617976.0,King's Cross St.Pancras_0,Baker Street_0
3,"King's Cross St.Pancras_0,Euston_0",2544789.0,King's Cross St.Pancras_0,Euston_0
4,"King's Cross St.Pancras_0,Stratford_0",2501601.0,King's Cross St.Pancras_0,Stratford_0

In [7]:
one_node = pd.read_csv('delay_multiply_demand_one_node_removal.csv',index_col=0)

In [8]:
one_node.head()

                     station  criticality
0  King's Cross St.Pancras_0    1560166.0
1                   Euston_0    1177994.0
2                Stockwell_0    1135985.0
3             Baker Street_0    1059683.0
4            Finsbury Park_0    1032780.0

In [9]:
two_nodes = two_nodes.merge(one_node.rename(columns={'station':'station_0',
                         'criticality':'delay_0'}), on = 'station_0')

In [10]:
two_nodes = two_nodes.merge(one_node.rename(columns={'station':'station_1',
                         'criticality':'delay_1'}), on = 'station_1')

In [11]:
two_nodes.head()

,station,delay,station_0,station_1,delay_0,delay_1
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0,785572.0,386054.0
1,"King's Cross St.Pancras_0,Mile End_0",1925613.0,King's Cross St.Pancras_0,Mile End_0,1560166.0,386054.0
2,"Canary Wharf_0,Mile End_0",2262734.0,Canary Wharf_0,Mile End_0,623534.0,386054.0
3,"Euston_0,Mile End_0",1551752.0,Euston_0,Mile End_0,1177994.0,386054.0
4,"Stockwell_0,Mile End_0",1516724.0,Stockwell_0,Mile End_0,1135985.0,386054.0

In [12]:
two_nodes['sum'] = two_nodes['delay_0'] + two_nodes['delay_1']

In [13]:
two_nodes['synergy'] = two_nodes['delay'] - two_nodes['sum']

In [14]:
two_nodes.shape

(1225, 8)

In [15]:
two_nodes.head()

,station,delay,station_0,station_1,delay_0,delay_1,sum,synergy
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0,785572.0,386054.0,1171626.0,1517146.0
1,"King's Cross St.Pancras_0,Mile End_0",1925613.0,King's Cross St.Pancras_0,Mile End_0,1560166.0,386054.0,1946220.0,-20607.0
2,"Canary Wharf_0,Mile End_0",2262734.0,Canary Wharf_0,Mile End_0,623534.0,386054.0,1009588.0,1253146.0
3,"Euston_0,Mile End_0",1551752.0,Euston_0,Mile End_0,1177994.0,386054.0,1564048.0,-12296.0
4,"Stockwell_0,Mile End_0",1516724.0,Stockwell_0,Mile End_0,1135985.0,386054.0,1522039.0,-5315.0

In [16]:
two_nodes['percent(%)'] = two_nodes['synergy'] / two_nodes['sum'] * 100

In [17]:
two_nodes.to_csv('synergy_effect_agg.csv')

In [18]:
len(two_nodes[two_nodes['synergy'] > 0])

81

In [19]:
len(two_nodes[two_nodes['synergy'] <= 0])

1144

In [20]:
81.0/(81+1144)

0.06612244897959184

In [23]:
two_nodes.sort_values('synergy',ascending=False).to_csv('synergy_effect_50.csv')

In [21]:
two_nodes = two_nodes.sort_values('synergy', ascending=False)

In [22]:
two_nodes

,station,delay,station_0,station_1,delay_0,delay_1,sum,synergy,percent(%)
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0,785572.0,386054.0,1171626.0,1517146.0,129.490640
2,"Canary Wharf_0,Mile End_0",2262734.0,Canary Wharf_0,Mile End_0,623534.0,386054.0,1009588.0,1253146.0,124.124494
844,"South Kensington_0,Notting Hill Gate_0",1835935.0,South Kensington_0,Notting Hill Gate_0,405044.0,395414.0,800458.0,1035477.0,129.360566
10,"West Ham_0,Mile End_0",1682607.0,West Ham_0,Mile End_0,598877.0,386054.0,984931.0,697676.0,70.835013
841,"Baker Street_0,Notting Hill Gate_0",2012482.0,Baker Street_0,Notting Hill Gate_0,1059683.0,395414.0,1455097.0,557385.0,38.305694
43,"London Bridge_0,West Ham_0",1896222.0,London Bridge_0,West Ham_0,785572.0,598877.0,1384449.0,511773.0,36.965825
847,"Earl's Court_0,Notting Hill Gate_0",1613057.0,Earl's Court_0,Notting Hill Gate_0,751711.0,395414.0,1147125.0,465932.0,40.617370
856,"Hammersmith (Dist&Picc Line)_0,Notting Hill Ga...",1260758.0,Hammersmith (Dist&Picc Line)_0,Notting Hill Gate_0,423275.0,395414.0,818689.0,442069.0,53.997183
861,"Acton Town_0,Notting Hill Gate_0",1108185.0,Acton Town_0,Notting Hill Gate_0,436856.0,395414.0,832270.0,275915.0,33.152102
904,"Bank_0,Holborn_0",1085676.0,Bank_0,Holborn_0,437083.0,378007.0,815090.0,270586.0,33.197070
525,"Earl's Court_0,Acton Town_0",1421440.0,Earl's Court_0,Acton Town_0,751711.0,436856.0,1188567.0,232873.0,19.592753
63,"London Bridge_0,Liverpool Street_0",1672135.0,London Bridge_0,Liverpool Street_0,785572.0,718097.0,1503669.0,168466.0,11.203663
394,"King's Cross St.Pancras_0,Bank_0",2148828.0,King's Cross St.Pancras_0,Bank_0,1560166.0,437083.0,1997249.0,151579.0,7.589389
116,"Stockwell_0,Victoria_0",1961078.0,Stockwell_0,Victoria_0,1135985.0,698474.0,1834459.0,126619.0,6.902253
785,"Green Park_0,South Kensington_0",1007031.0,Green Park_0,South Kensington_0,476175.0,405044.0,881219.0,125812.0,14.277041
262,"Liverpool Street_0,Canary Wharf_0",1465070.0,Liverpool Street_0,Canary Wharf_0,718097.0,623534.0,1341631.0,123439.0,9.200667
975,"South Kensington_0,Bond Street_0",914757.0,South Kensington_0,Bond Street_0,405044.0,403892.0,808936.0,105821.0,13.081505
222,"Victoria_0,Waterloo_0",1378649.0,Victoria_0,Waterloo_0,698474.0,585551.0,1284025.0,94624.0,7.369327
45,"Canary Wharf_0,West Ham_0",1315307.0,Canary Wharf_0,West Ham_0,623534.0,598877.0,1222411.0,92896.0,7.599408
414,"Waterloo_0,Bank_0",1113180.0,Waterloo_0,Bank_0,585551.0,437083.0,1022634.0,90546.0,8.854194
520,"Baker Street_0,Acton Town_0",1580076.0,Baker Street_0,Acton Town_0,1059683.0,436856.0,1496539.0,83537.0,5.582013
761,"Baker Street_0,South Kensington_0",1545500.0,Baker Street_0,South Kensington_0,1059683.0,405044.0,1464727.0,80773.0,5.514543
872,"Bond Street_0,Notting Hill Gate_0",880056.0,Bond Street_0,Notting Hill Gate_0,403892.0,395414.0,799306.0,80750.0,10.102514
724,"Baker Street_0,Hammersmith (Dist&Picc Line)_0",1561857.0,Baker Street_0,Hammersmith (Dist&Picc Line)_0,1059683.0,423275.0,1482958.0,78899.0,5.320380
526,"Finchley Road_0,Acton Town_0",1259559.0,Finchley Road_0,Acton Town_0,752961.0,436856.0,1189817.0,69742.0,5.861574
901,"Waterloo_0,Holborn_0",1032664.0,Waterloo_0,Holborn_0,585551.0,378007.0,963558.0,69106.0,7.171961
87,"Baker Street_0,Earl's Court_0",1877440.0,Baker Street_0,Earl's Court_0,1059683.0,751711.0,1811394.0,66046.0,3.646142
730,"Finchley Road_0,Hammersmith (Dist&Picc Line)_0",1241620.0,Finchley Road_0,Hammersmith (Dist&Picc Line)_0,752961.0,423275.0,1176236.0,65384.0,5.558748
23,"Waterloo_0,Mile End_0",1030587.0,Waterloo_0,Mile End_0,585551.0,386054.0,971605.0,58982.0,6.070574
767,"Finchley Road_0,South Kensington_0",1216255.0,Finchley Road_0,South Kensington_0,752961.0,405044.0,1158005.0,58250.0,5.030203
...,...,...,...,...,...,...,...,...,...
461,"Finsbury Park_0,Turnpike Lane_0",1058640.0,Finsbury Park_0,Turnpike Lane_0,1032780.0,442980.0,1475760.0,-417120.0,-28.264758
715,"Tufnell Park_0,Archway_0",473580.0,Tufnell Park_0,Archway_0,460020.0,431880.0,891900.0,-418320.0,-46.902119
480,"Manor House_0,Turnpike Lane_0",528060.0,Manor House_0,Turnpike Lane_0,518340.0,442980.0,961320.0,-433260.0,-45.069280
556,"Camden Town_0,Chalk Farm_0",1022400.0,Camden Town_0,Chalk Farm_0,1016160.0,443760.0,1459920.0,-437520.0,-29.968765
603,"Balham_0,Tooting Bec_0",563700.0,Balham_0,Tooting Bec_0,554880.0,450300.0,1005180.0,-441480.0,-43.920492
433,"Camden Town_0,Tufnell Park_0",1026540.0,Camden Town_0,Tufnell Park_0,1016160.0,460020.0,1476180.0,-449640.0,-30.459700
292,"King's Cross St.Pancras_0,Manor House_0",1622866.0,King's Cross St.Pancras_0,Manor House_0,1560166.0,518340.0,2078506.0,-455640.0,-21.921515
450,"Kentish Town_0,Tufnell Park_0",532620.0,Kentish Town_0,Tufnell Park_0,530880.0,460020.0,990900.0,-458280.0,-46.248865
319,"Euston_0,Kentish Town_0",1233254.0,Euston_0,Kentish Town_0,1177994.0,530880.0,1708874.0,-475620.0,-27.832362
349,"West Ham_0,Upton Park_0",627737.0,West Ham_0,Upton Park_0,598877.0,513420.0,1112297.0,-484560.0,-43.563904
272,"Stockwell_0,Balham_0",1192325.0,Stockwell_0,Balham_0,1135985.0,554880.0,1690865.0,-498540.0,-29.484317
362,"Plaistow_0,Upton Park_0",578220.0,Plaistow_0,Upton Park_0,563460.0,513420.0,1076880.0,-498660.0,-46.305995
297,"Finsbury Park_0,Manor House_0",1048920.0,Finsbury Park_0,Manor House_0,1032780.0,518340.0,1551120.0,-502200.0,-32.376605
281,"Clapham North_0,Balham_0",808080.0,Clapham North_0,Balham_0,757980.0,554880.0,1312860.0,-504780.0,-38.448883
284,"Clapham Common_0,Balham_0",747360.0,Clapham Common_0,Balham_0,709380.0,554880.0,1264260.0,-516900.0,-40.885577
323,"Camden Town_0,Kentish Town_0",1024800.0,Camden Town_0,Kentish Town_0,1016160.0,530880.0,1547040.0,-522240.0,-33.757369
287,"Clapham South_0,Balham_0",662400.0,Clapham South_0,Balham_0,634500.0,554880.0,1189380.0,-526980.0,-44.307118
237,"West Ham_0,Plaistow_0",612977.0,West Ham_0,Plaistow_0,598877.0,563460.0,1162337.0,-549360.0,-47.263401
193,"Stockwell_0,Clapham South_0",1166165.0,Stockwell_0,Clapham South_0,1135985.0,634500.0,1770485.0,-604320.0,-34.133020
201,"Clapham North_0,Clapham South_0",780720.0,Clapham North_0,Clapham South_0,757980.0,634500.0,1392480.0,-611760.0,-43.933127
204,"Clapham Common_0,Clapham South_0",719460.0,Clapham Common_0,Clapham South_0,709380.0,634500.0,1343880.0,-624420.0,-46.463970
162,"Stratford_0,Leytonstone_0",998587.0,Stratford_0,Leytonstone_0,972379.0,657468.0,1629847.0,-631260.0,-38.731243
165,"Leyton_0,Leytonstone_0",783468.0,Leyton_0,Leytonstone_0,769320.0,657468.0,1426788.0,-643320.0,-45.088689
98,"Baker Street_0,Finchley Road_0",1142750.0,Baker Street_0,Finchley Road_0,1059683.0,752961.0,1812644.0,-669894.0,-36.956733
145,"Stockwell_0,Clapham Common_0",1156325.0,Stockwell_0,Clapham Common_0,1135985.0,709380.0,1845365.0,-689040.0,-37.338955
153,"Clapham North_0,Clapham Common_0",770640.0,Clapham North_0,Clapham Common_0,757980.0,709380.0,1467360.0,-696720.0,-47.481191
107,"Stockwell_0,Clapham North_0",1143665.0,Stockwell_0,Clapham North_0,1135985.0,757980.0,1893965.0,-750300.0,-39.615304
82,"Stratford_0,Leyton_0",984439.0,Stratford_0,Leyton_0,972379.0,769320.0,1741699.0,-757260.0,-43.478236
1210,"Euston_0,Camden Town_0",1257194.0,Euston_0,Camden Town_0,1177994.0,1016160.0,2194154.0,-936960.0,-42.702563
1221,"King's Cross St.Pancras_0,Finsbury Park_0",1640326.0,King's Cross St.Pancras_0,Finsbury Park_0,1560166.0,1032780.0,2592946.0,-952620.0,-36.738906

In [23]:
two_nodes.reset_index(inplace=True, drop=True)
two_nodes.head()

,station,delay,station_0,station_1,delay_0,delay_1,sum,synergy,percent(%)
0,"London Bridge_0,Mile End_0",2688772.0,London Bridge_0,Mile End_0,785572.0,386054.0,1171626.0,1517146.0,129.490640
1,"Canary Wharf_0,Mile End_0",2262734.0,Canary Wharf_0,Mile End_0,623534.0,386054.0,1009588.0,1253146.0,124.124494
2,"South Kensington_0,Notting Hill Gate_0",1835935.0,South Kensington_0,Notting Hill Gate_0,405044.0,395414.0,800458.0,1035477.0,129.360566
3,"West Ham_0,Mile End_0",1682607.0,West Ham_0,Mile End_0,598877.0,386054.0,984931.0,697676.0,70.835013
4,"Baker Street_0,Notting Hill Gate_0",2012482.0,Baker Street_0,Notting Hill Gate_0,1059683.0,395414.0,1455097.0,557385.0,38.305694

In [24]:
two_nodes.shape

(1225, 9)

In [30]:
two_nodes.to_csv('London_synergy_50.csv')